body {
  font-family: 'Open Sans', sans-serif;
}

body, p, h2 {
  margin: 0;
}

h1 {
  margin: 10px;
  text-align: center;
  color: #993337;
  font-weight: 300;
  font-size: 2.5em;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: inherit;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.shadow { box-shadow: 0 0 4px #ccc; }

#trips {
  width: 70%;
  margin: auto;
  box-sizing: border-box;
  border: 0px solid #993337;
}

#trips .navigation {
  text-align: center;
  padding: 20px;
  background-color: #993337;
}

#trips .navigation .link {
  color: #ffaaae;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 10px;
}

#trips .navigation .link:hover {
  color: #ffeeee;
  border-bottom: 2px solid #ffeeee !important;
}

#trips .navigation .focus {
  border-bottom: 2px solid #ffaaae;
}

#trips .navigation .focus:hover {
  border-color: #ffaaae;
}

#trip-list,
#autocomplete {
  margin: 20px;
  padding-bottom: 20px;
}

.trip,
#trips #autocomplete {
  margin-top: 20px;
  padding: 10px;
}

#trips #autocomplete {
  display: block;
  box-sizing: border-box;
  width: calc(100% - 40px);
  font-size: 1em;
  font-weight: 300;
}

#trips #autocomplete:focus {
  outline-color: #ddd;
}

.pac-container {
  width: calc(70% - 40px) !important;
}

.pac-item, .pac-item-query {
  font-size: 1em;
}

.pac-item-query {
  padding-right: 5px;
}

.pac-item-selected,
.pac-item:hover {
  background-color: #ffeeee;
}

.trip {
  opacity: .8;
  position: relative;
  height: 200px;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.trip:hover {
  opacity: .7;
}

.trip .layer {
  height: 70%;
  background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,0));
}

#trips .description,
#trips .date {
  margin-top: 5px;
}
