body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #444;
}

body, p, h2, h3, h4 {
  margin: 0;
}

h1 {
  margin: 10px;
  text-align: center;
  color: #993337;
  font-weight: 300;
  font-size: 2.5em;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: inherit;
}

.hidden {
  display: none;
}

.shadow { box-shadow: 0 0 4px #ccc; }

a,
input {
  text-decoration: none;
  color: #999;
}

a:hover {
  color: #222;
}

a:focus,
input:focus {
  outline-color: #ddd;
}

#trips,
#create-trip {
  width: 70%;
  margin: auto;
}

.navigation {
  position: relative;
  padding: 20px;
  background-color: #993337;
}

#trips .navigation {
  text-align: center;
}

.navigation .link,
h2 {
  color: #ffaaae;
  font-size: 1.1em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

.navigation .link:hover {
  color: #ffeeee;
}

#trips .navigation .link:hover {
  border-bottom: 2px solid #ffeeee !important;
}

#trips .navigation .focus {
  border-bottom: 2px solid #ffaaae;
}

#trips .navigation .focus:hover {
  border-color: #ffaaae;
}

#back {
  position: absolute;
  float: left;
  font-weight: 400;
}

#title {
  text-align: center;
}

#trip-list,
#autocomplete,
#trip-form {
  margin: 20px;
  padding-bottom: 20px;
}

.trip,
#trips #autocomplete,
input[type=text],
input[type=date] {
  padding: 10px;
}

#trips #autocomplete,
input[type=text],
input[type=date] {
  display: block;
  box-sizing: border-box;
  width: calc(100% - 40px);
  font-size: 1em;
  font-weight: 300;
}

.pac-container {
  width: calc(70% - 40px) !important;
}

.pac-item, .pac-item-query {
  font-size: 1em;
}

.pac-item-query {
  padding-right: 5px;
}

.pac-item-selected,
.pac-item:hover {
  background-color: #ffeeee;
}

.trip {
  margin-top: 20px;
  opacity: .8;
  position: relative;
  height: 200px;
  color: #fff;
  font-weight: 400;
  background-position: center;
  background-size: cover;
}

.trip:hover {
  opacity: .7;
}

.trip .layer {
  height: 70%;
  background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,0));
}

#trip-form {
  position: relative;
  font-size: 0;
}

#trip-form .remove {
  right: 0;
  color: #f3dcdd;
  position: absolute;
  font-size: 18px;
  font-weight: 600;
}

#trip-form .remove:hover {
  color: #e2a9ab;
}

#trip-form h4 {
  color: #e2a9ab;
  font-size: 18px;
  font-weight: 400;
}

#trip-form input[type=text],
#trip-form input[type=date] {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
  border: 0;
  border-bottom: 2px solid #ddd;
}

#trip-form input[type=text]:focus,
#trip-form input[type=date]:focus {
  outline: none;
  border-color: #aaa;
}

#trip-form input[type=text] {
  width: 100%;
}

#trip-form .dates {
  position: relative;
  height: 82px;
}

#trip-form input[type=date] {
  position: absolute;
  display: inline-block;
  width: calc(50% -  15px);
  font-family: 'Open Sans', sans-serif;
}

#trip-form input[type=date].start {
  left: 0;
}

#trip-form input[type=date].end {
  right: 0;
}

#trip-form #add-destination {
  font-size: 14px;
}

input[type=submit] {
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 5px 30px;
  font-size: 16px;
  color: #ccc;
  border: 1px solid #ddd;
  background-color: #fff;
}

input[type=submit]:hover {
  color: #777;
  border-color: #888;
}
