body, p, h2 {
  margin: 0;
}

h1 {
  text-align: center;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: inherit;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

#trips {
  width: 70%;
  margin: auto;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #000;
}

#trips .navigation {
  text-align: center;
}

#trips .navigation .link {
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px;
}

#trips .navigation .focus {
  border-bottom: 2px solid #000;
}

.trip {
  opacity: .8;
  position: relative;
  margin-top: 20px;
  padding: 10px;
  height: 200px;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.trip .layer:hover {
  background-color: rgba(255,255,255,.2);
}

#puerto-rico {
  background-image: url(images/puerto-rico.jpg);
}

#portland {
  background-image: url(images/portland.jpg);
}

#los-angeles {
  background-image: url(images/los-angeles.jpg);
}

#trips .description,
#trips .date {
  margin-top: 5px;
}
