* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h1 {
  margin: 10px;
  text-align: center;
  color: #993337;
  font-size: 2.5em;
}

h3 {
  font-weight: 400;
  letter-spacing: 1px;
}

a,
input {
  text-decoration: none;
}

a {
  color: #999;
}

a:hover {
  color: #222;
}

a:focus,
input:focus {
  outline-color: #ddd;
}

input {
  display: block;
  box-sizing: border-box;
  padding: 5px 10px;
  width: 100%;
  font-size: 1em;
  font-weight: 300;
}

.pac-container {
  width: calc(80% - 40px) !important;
  max-width: 610px !important;
}

.pac-item, .pac-item-query {
  font-size: 1em;
}

.pac-item-query {
  padding-right: 5px;
}

.pac-item-selected,
.pac-item:hover {
  background-color: #ffeeee;
}

.container {
  width: 80%;
  max-width: 650px;
  margin: auto;
}

.shadow { box-shadow: 0 0 4px #ccc; }

.header {
  position: relative;
  padding: 15px 20px;
  background-color: #993337;
  text-align: center;
}

.header a,
h2 {
  color: #ffaaae;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header a:hover {
  color: #ffeeee;
}

.header .back {
  position: absolute;
  left: 20px;
  font-weight: 400;
}

.content {
  padding: 20px;
}

#calendar .filter {
  margin-left: 10px;
  margin-right: 10px;
}

#calendar .filter:hover {
  border-bottom: 2px solid #ffeeee !important;
}

#calendar .filter.focus {
  border-bottom: 2px solid #ffaaae;
}

#calendar .trip {
  margin-top: 20px;
  opacity: .8;
  height: 200px;
  color: #fff;
  font-weight: 400;
  background-position: center;
  background-size: cover;
}

#calendar .trip:hover {
  opacity: .7;
}

#calendar .trip .layer {
  padding: 10px;
  height: 70%;
  background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,0));
}
